@font-face {
  font-family: 'Mitera';
  src: url('25\ Mitera/Mitera Regular.ttf')
}

h6 {
  text-align: center;
}

.vertical {
  margin-top: 40px;
  border-left: 1px solid #fff;
  height: 80px;
  position: absolute;
  left: 50%;
}

.project {
  height: 500px;
}

.project1 {
  background: url(https://images.unsplash.com/photo-1671750668151-219caa16178d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80) no-repeat 50% 50%;
  background-size: cover;
}

.project1::after {
  content: "australian open.";
  font-family: "Mitera", sans-serif;  font-size: 42px;
  position: relative;
  color: #fff;
  display: block;
  top: 8%;
  left: -60%;
  right: 0;
  bottom: 0;
}

.project2 {
  background: url(https://images.unsplash.com/photo-1465125672495-63cdc2fa22ed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80) no-repeat 50% 50%;
  background-size: cover;
}

.project2::after {
  content: "roland garros.";
  font-family: "Mitera", sans-serif;  font-size: 42px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: 90%;
  right: 0;
  bottom: 0;
}

.project3 {
  background: url(https://photo-assets.wimbledon.com/images/pics/large/s_grounds_4757_29062019_tc.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.project3::after {
  content: "wimbledon.";
  font-family: "Mitera", sans-serif;  font-size: 42px;
  position: relative;
  color: #fff;
  display: block;
  top: 65%;
  left: -50%;
  right: 0;
  bottom: 0;
}

.project4 {
  background: url(https://images.unsplash.com/photo-1520733772731-e33af4616207?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1748&q=80) no-repeat 50% 50%;
  background-size: cover;
}

.project4::after {
  content: "us open.";
  font-family: "Mitera", sans-serif;  font-size: 42px;
  position: relative;
  color: #fff;
  display: block;
  top: 10%;
  left: 90%;
  right: 0;
  bottom: 0;
}

@media(max-width: 768px) {
  .project {
    width: 90% !important;
    margin: 14px auto;
  }
  .vertical {
    display: none;
  }
  .project1::after, .project2::after, .project3::after, .project4::after {
    display: none;
  }
}

/* PROJECT PAGE */

.prev, .next p {
  color: #dfdfdf;
}

.arrow {
  margin-top: 5px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}
